@page "/chat"
@using Chat.Domain.Message
@using Chat.Domain.Message.GetAll;
@inherits MessagesBase

@if(Messages == null)
{
    <h3>Loading messages...</h3>
}
else
{
    <h3 class="mb-5"> Messages</h3>

List<MessageModel> messagesData = Messages.Data;

    @if (messagesData is [_, ..])
    {
        @foreach (var message in messagesData)
        {
            <div class="message">
                <p class="sender">@message.Sender</p>
                <p class="createdAt">@message.CreatedAt</p>
                <p class="content">@message.Content</p>
            </div>
        }
    }
    else
    {
        <h2>No messages :(</h2>
    }

}

