@page "/chat"
@using Chat.Domain.Message
@using Chat.Domain.Message.GetAll;
@using Chat.WebUI.Pages.Conversation;
@inherits MessagesBase

@if(Messages == null)
{
    <h3>Loading messages...</h3>
}
else
{
    <h3 class="mb-5"> Messages</h3>

List<MessageModel> messagesData = Messages.Data;

    @* <MessagesList Messages="@Messages.Data" /> *@
    @if (messagesData is [_, ..])
    {
        @foreach (var message in messagesData)
        {
            <ConversationMessage Model="@message"> </ConversationMessage>
        }
    }
    else
    {
        <h2>No messages :(</h2>
    }

    @* <InputTextArea /> *@
    <button>Send</button>
}

