@page "/chat"
@using Chat.Domain.Message
@using Chat.Domain.Message.GetAll;
@using Chat.WebUI.Pages;
@inherits ConversationBase

<div class="conversationContainer">
    <h1><b>Conversation container</b></h1>

        <div class="conversationHeader">
            <h2><b>Conversation with</b></h2>
        </div>

        <div class="conversationMessagesList">
            @if(Messages == null)
            {
                <h3>Loading messages...</h3>
            }
            else
            {
                <h3 class="mb-5">Messages</h3>

                <MessagesList List="@Messages.Data" />
            }
        </div>

        <div class="conversationMessageInput">
            <h2><b>Message input</b></h2>
            <button>Send</button>
        </div>

</div>