@page "/chat"
@inherits ConversationBase
@using Chat.Domain.Message
@using Chat.Domain.Message.GetAll;
@using Chat.Domain.User
@using Chat.WebUI.Pages;


<div class="conversationContainer">
    <input type="text" @bind="UserName" @bind:after="RefreshUser" />

    <h1><b>Conversation container @UserName</b></h1>

    @if (User is not null)
    {
        <ConversationHeader Model="@User.Data" />
    }

    <div class="conversationMessagesList">
        @if (Messages == null)
        {
            <h3>Loading messages...</h3>
        }
        else
        {
            <h3 class="mb-5">Messages</h3>

            <MessagesList List="@Messages.Data" />
        }
    </div>

    <div class="conversationMessageInput">
        <h2><b>Message input</b></h2>
        <div class="textArea"></div>
        <button>Send</button>
    </div>
</div>
