@inherits ConversationHeaderBase

<div class="conversationHeader">
    <FluentPersona Name=@Model.Username
                   Image="https://assets.puzzlefactory.pl/puzzle/166/461/original.webp"
                   ImageSize="50px"
                   Status="PresenceStatus.Available"
                   StatusTitle="She is available"
                   StatusSize="PresenceBadgeSize.Small">
    </FluentPersona>
</div>