@inherits ConversationMessageInputBase

<div class="conversationMessageInput">

    <div class="icon">
        <FluentPersona
            @bind-Value=UserName
            Image=@($"/Users/{UserName}.png")
            ImageSize="50px"
            Status="PresenceStatus.Available"
            StatusTitle="She is available"
            StatusSize="PresenceBadgeSize.Small" />
    </div>

    <div class="textInput">
        <FluentTextArea @bind-Value=Value
                        Resize="TextAreaResize.Horizontal"
                        style="width: 100%;"
                        Placeholder="Aa" />
        @* @onkeypress="@(args => args.Code == KeyCode.Enter.ToString())" *@
    </div>

    <div class="sendButton">
        <FluentButton 
            Loading="@Sending"
            OnClick="@StartSendingAsync"
            Appearance="Appearance.Accent">Send</FluentButton>
    </div>
</div>
