@page "/chat"
@inherits ConversationBase
@attribute [Authorize]
@using Chat.Domain.Message
@using Chat.Domain.Message.GetAll
@using Chat.Domain.User
@using Chat.WebUI.Pages

<div class="conversationContainer">
    <FluentTextField @bind-Value="@UserName" Placeholder="Other User name" />
    @* <input type="text" @bind="UserName" @bind:after="RefreshUser" /> *@

    @if (User is not null)
    {
        <ConversationHeader Model="@User" />
    }

    <div class="conversationMessagesList">
        @if (Messages == null)
        {
            <h3>Loading messages...</h3>
        }
        else
        {
            <MessagesList />
        }
    </div>
    <ConversationMessageInput />
</div>
