@inherits ConversationHeaderBase

<div class="conversationHeader">
    <FluentPersona Name=@Model.Username
                   Image=""
                   ImageSize="50px"
                   Status="PresenceStatus.Available"
                   StatusTitle="She is available"
                   StatusSize="PresenceBadgeSize.Small">
    </FluentPersona>
</div>