body {
}

.message {
    background-color: blueviolet;
    block-size: auto;
    border-radius: 5px;
    color: antiquewhite;
    padding: 5px;
    margin: 3px 1px;
}

.sender {
    background-color: #d9edf7;
    text-align: right;
}

.createdAt {

}