body {
}

.message {
    background-color: forestgreen;
    block-size: 100px;
    border-radius: 5px;
    color: antiquewhite;
    padding: 5px;
    margin: 3px 1px;
}

.sender {
    background-color: #808080;
    text-align: right;
}

.createdAt {

}

.isSentByCurrentUser {
    background-color: aquamarine;
    block-size: 100px;
    float: right;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin: 3px 1px;
}