
.currentUser {
    /*overlay*/
    background-color: aquamarine;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin: 3px 1px;
}

.otherUser {
    background-color: pink;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin: 3px 1px;
}

.currentUser-info{
    color: darkgray;
    text-align: right;
    background-color: #808080;
    visibility: visible;
}

.otherUser-info {
    text-align: left;
    background-color: #808080;
    visibility: visible;
}

.currentUser-content {
    text-align: right;
    block-size: 80px;
    border: solid;
    border-radius: 50px 10px;
    border-block-color: aquamarine;
    color: darkgreen;
    box-shadow: 20px 20px 50px 10px aquamarine inset;
}

.otherUser-content {
    text-align: left;
    block-size: 80px;
    border: solid;
    border-radius: 10px 50px;
    border-block-color: pink;
    color: darkmagenta;
    box-shadow: 20px 20px 50px 10px pink inset;
}